/* ----------- HEADER ----------- */
.list_nav {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_link {
    color: var(--text);
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: var(--black);
    color: var(--text);
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.line {
    display: inline;
    bottom: 0;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    height: 3px;

}

.effect {
    position: relative;
}

.effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white; 
    left: 0;
    bottom: -5px; 
    transition: width 0.3s ease;
  }
  
  .effect:hover::after {
    width: 100%;
  }
/* ----------- MAIN ----------- */

.content {
    position: absolute;
    top: 80px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: var(--grey);
    color: var(--text);
}

.section {
    padding-left: 30px;
}

.section_title {
    font-size: 40px;
    margin-bottom: 8px;
}

.content_text, .list_main {
    font-size: 22px;
}

.margin_top {
    margin-top: 40px;
}

.invest_types {
    margin-left: 45px;
}

.link {
    color: var(--green);
}

li {
    margin: 7px 0;
}

.list_style_none {
    list-style: none;
}

.investment_type {
    font-weight: 300;
}