/* ----------- HEADER ----------- */
.list_nav {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: black;
    color: white;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.line {
    display: inline;
    bottom: 0;
    width: 100%;
    background-color: green;
    position: absolute;
    height: 3px;

}
/* ----------- MAIN ----------- */

.content {
    position: absolute;
    top: 80px;
    padding-top: 15px;
    padding-left: 25px;
}

.section_title {
    font-size: 40px;
    margin-bottom: 8px;
}

.content_text, .list_main {
    font-size: 22px;
}